@import './node_modules/reset-css/sass/reset';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

body {
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forms {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 25px;
  gap: 2.5vh;

  .forms__title {
    margin-top: 5%;
    h1 {
      font-size: 2rem;
      font-style: italic;
      text-align: center;
    }
  }

  .forms__heading-registration {
    width: 75%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    h2 {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 400;
    }
  }

  .forms__content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5vh;
  }
}

.input__container-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.input__container-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.first__name,
.last__name,
.city,
.size,
.zipcode {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  // justify-content: flex-start;
}

.first__name {
  width: 100%;
}

.forms__content-city {
  width: 100%;
  padding-bottom: 5%;
  justify-content: space-between;
  div {
    width: 30%;
  }
}

.forms__content-name {
  width: 100%;
  justify-content: space-between;
  div {
    width: 40%;
  }
}
input {
  margin: 0.5vw 0;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.size {
  input {
    width: 30%;
  }
}

.zipcode {
  input {
    width: 40%;
  }
}

label {
  font-size: 0.75rem;
}

// User Container

.user__container {
  width: 100%;
  background-color: green;
}